.requests {
    border: 2px solid rgb(124, 120, 120);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 10px;

}


.requests:hover {
    background-color: rgb(236, 232, 232);
}

.right {
    margin-left: 20px;
    margin-right: 20px;
}